textarea {
  resize: none;
}

.header__navbar-link {
  display: flex;
  align-items: center;
}
.checked.cartname_checkbox {
  color: var(--primary-color);
}
span {
  display: block;
}

.sec-2-tab-2-table {
  border-top: 1px solid var(--primary_color);
  border-bottom: 1px solid var(--primary_color);
  width: 100%;
  margin: auto;
}

.content {
  margin-bottom: 130px;
}

/* p_sec 1 */
.p_section-1 {
  background-image: url(https://bizweb.dktcdn.net/100/434/558/themes/831317/assets/bg-breadcrumb.jpg?1630049131390);
  text-align: center;
  padding: 20px 0;
}
.sec-1-sub-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec-1-sub-title-link {
  text-decoration: none;
  font-size: 1.6rem;
  color: white;
}
.sec-1-sub-title-link::after {
  content: "/";
}
.sec-1-nsub {
  margin-left: 10px;
  font-size: 1.4rem;
  color: #ffd09a;
}
.sec-1-m-title {
  color: white;
  font-size: 2.3rem;
  padding: 10px 0;
}

/* p_sec-2 */
/* left */
.p_section-2 {
  margin-top: 20px;
}
.sec-2-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 20px;
}
.sec-2-link {
  display: block;
  text-decoration: none;
  color: black;
  font-size: 1.4rem;
  padding: 5px 10px;
  border-radius: 8px;
}

/* right */
/* section 2 tab 1 */
.sec-2-tab-1 {
  margin-top: 20px;
}
.sec-2-tab-1-info {
  font-weight: 600;
  float: right;
}
.sec-2-tab-1-in {
}
.sec-2-tab-1-info,
.sec-2-tab-1-in {
  font-size: 1.6rem;
  margin-bottom: 20px;
}
.sec-2-tab-1-edit {
  background-color: #a58e5f;
  padding: 8px 0;
  width: 200px;
  color: var(--bs-white);
  font-size: 1.6rem;
  text-align: center;
  border-radius: 6px;
  margin-top: 10px;
  cursor: pointer;
}
/* tab 1-1 */

.tab-1-1-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}
.label-tab-1-1 {
  font-size: 1.6rem;
}
.input_tab-1-1 {
  border: 1px solid var(--primary-color);
  outline: none;
  height: 36px;
  border-radius: 5px;
  padding: 2px 10px;
  font-size: 1.4rem;
}
.btn_submit-changeUser {
  background-color: var(--primary-color);
  color: white;
  padding: 10px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  border-radius: 6px;
  cursor: pointer;
  user-select: none;
}
/* section 2 */

.sec-2-checkbox {
  border: 1px solid var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 1px;
  margin-bottom: 15px;
  font-size: 1.4rem;
  cursor: pointer;
  color: var(--bs-white);
  margin-right: 10px;
}
.sec-2-checked {
  color: var(--primary-color);
}
.sec-2-cart-attribute {
  font-size: 1.8rem;
  padding: 20px;
}
.sec-2-p {
}
.sec-2-pName {
  display: flex;

  align-items: center;
  gap: 10px;
}
.sec-2-img {
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.c-price {
  font-size: 1.5rem;
  color: var(--primary-color);
  font-weight: 600;
  text-align: center;
}
.s2-pName {
  display: block;
  font-size: 1.6rem;
}

.btn-change-q {
  display: flex;
  font-size: 2.6rem;
  align-items: center;
  color: var(--primary-color);
  /* margin-top: 2px; */
  margin-left: 2px;
  margin-right: 2px;
}
.btn-change-s {
  display: flex;
  align-items: center;
}
.input_change-input {
  height: 23px;
  outline: none;
  border: 1px solid var(--primary-color);
  border-radius: 2px;
  padding: 0;
  width: 70px;
  font-size: 1.4rem;
  padding-left: 10px;
  float: right;
  text-align: right;
  padding-right: 10px;
}
.c-sumPrice {
  color: var(--primary-color);
  font-size: 1.5rem;
  text-align: center;
}
.sec-2-new-same {
  margin-bottom: 3px;
}
.sec-2-delete {
  text-align: center;
  font-size: 1.4rem;
  color: var(--primary-color);
  cursor: pointer;
}
.sec-2-same {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 100;
  cursor: pointer;
}

/* cart */
.listCart-item {
  border: 2px solid var(--primary-color);
  padding: 10px 10px;
  border-radius: 8px;
  margin-bottom: 16px;
}
.flex-cart-mid {
  display: flex;
  align-items: center;
  justify-content: center;
}
.row-height {
  top: 50%;
  height: 100%;
}
.Cartname_right {
  height: 100%;
  margin-top: 10px;
  margin-bottom: 5px;
}
.listCart-list {
  list-style: none;
  padding: 0;
}
.cartname_checkbox {
  border: 1px solid var(--primary-color);
  color: var(--bs-white);
  padding: 2px 5px;
  border-radius: 2px;
}
.cartname-img-i {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.cartname-name {
  font-size: 1.6rem;
}
.cartname-quantitiy-btn {
  color: var(--primary-color);
  font-size: 1.8rem;
  padding: 5px;
  cursor: pointer;
}
.cart_input-quantity {
  height: 30px;
  border: 1px solid var(--primary-color);
  outline: none;
  border-radius: 5px;
  text-align: right;
  width: 70px;
  font-size: 1.5rem;
}
.cartname-price {
  font-size: 1.3rem;
  color: var(--primary-color);
  font-weight: 600;
}
.cartname-sumprice {
  font-size: 1.3rem;
  color: var(--primary-color);
  font-weight: 600;
}
.cartname_delete {
  font-size: 1.3rem;
  color: var(--primary-color);
  font-size: bold;
}

/* sec-2 pay */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.sec-2-pay {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.sec-2-pay-left {
  display: flex;
  align-items: center;
}
.sec-2-left-description {
  font-size: 1.6rem;
}
.sec-2-pay-right {
  display: flex;
  align-items: center;
}
.sec-2-pay-description {
  font-size: 1.8rem;
}
.sec-2-pay-price {
  font-size: 1.8rem;
  color: var(--primary-color);
  font-weight: 600;
  margin: 0 10px;
}
.sec-2-pay-link {
  font-size: 1.6rem;
  text-decoration: none;
  color: var(--bs-white);
  background-color: black;
  margin-left: 10px;
  padding: 5px 20px;
  border-radius: 5px;
}
.sec-2-pay-link:hover {
  color: white;
}
.sec-2-pay-checkbox {
  border: 1px solid var(--primary-color);
  padding: 0px 4px;
  font-size: 1.4rem;
  color: var(--primary-color);
  margin-right: 10px;
}

/* section 2 tab 3 */
.sec-2-tab-3-title {
  font-size: 1.8rem;
}
.sec-2-tab-3-description {
  font-size: 1.4rem;
}
.sec-2-tab-3-form {
}

.tab-3-from-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}
.tab-3-from-group label {
  font-size: 1.6rem;

  font-weight: 600;
}
.tab-3-from-group label::after {
  content: "*";
  color: red;
  font-size: 1.8rem;
  margin-left: 3px;
}
.tab-3-input {
  height: 44px;
  outline: none;
  border: 1px solid rgb(223, 216, 216);
  padding-left: 10px;
  border-radius: 10px;
  color: var(--primary_color);
  font-size: 1.8rem;
}
.tab-3-submit {
  background-color: var(--bs-black-rgb);
  font-size: 1.6rem;
  color: var(--bs-white);
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
}
.tab-3-submit:hover {
  background-color: var(--primary_color);
}

/* section tab 4 */

.sec-2-tab-4-description {
  font-size: 1.4rem;
}
.sec-2-tab-4-btn {
  cursor: pointer;
  font-size: 1.6rem;
  background-color: var(--primary-color);
  width: 180px;
  text-align: center;
  color: var(--bs-white);
  padding: 8px 0;
  border-radius: 8px;
}

/*  */
.sec-2-tab-3,
.sec-2-tab-2,
.sec-2-tab-4,
.sec-2-tab-5,
.sec-2-tab-6,
.sec-2-tab-7,
.sec-2-tab-1-1 {
  display: none;
}

.active_left {
  background-color: red;
  color: var(--bs-white);
}
.active_left:hover {
  color: var(--bs-white);
}

/* create product */

.sec-2-tab-5-description {
  font-size: 1.6rem;
  color: var(--primary-color);
}

.tab-5-form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}
.form_label {
  font-size: 1.6rem;
}
.form_label::after {
  content: "*";
  color: red;
}
.input_control {
  height: 40px;
  outline: none;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  color: var(--primary-color);
  font-size: 1.6rem;
  font-weight: 600;
  padding: 3px 10px;
}
.option_control {
  height: 30px;
  border: 1px solid var(--primary-color);
  font-size: 1.6rem;
  outline: none;
  border-radius: 3px;
  color: var(--primary-color);
}
.textarea_control {
  border: 1px solid var(--primary-color);
  outline: none;
  border-radius: 8px;
  padding: 10px 10px;
  font-size: 1.4rem;
}
.btn_create-product {
  background-color: var(--primary-color);
  border: none;
  padding: 10px 20px;
  font-size: 1.6rem;
  color: var(--bs-white);
  border-radius: 5px;
}

/* tab 6 */
.sec-2-tab-6-description {
  font-size: 1.6rem;
}
.sec-2-tab-6-list {
  list-style: none;
  padding: 0;
}
.sec-2-tab-6-item {
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom: 6px;
  border: 2px solid var(--primary-color);
}

.tab-6-info {
  display: flex;
  align-items: center;
}
.tab-6-info-checkbox {
  border: 1px solid var(--primary-color);
  margin-right: 10px;
  border-radius: 4px;
  padding: 5px 6px;
  cursor: pointer;
  color: var(--primary-color);
}
.tab-6-img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 3px solid var(--primary-color);
  margin-right: 10px;
}
.tab-6-pName {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--primary-color);
}

.tab-6-align {
  display: flex;
  align-items: center;
}
.tab-6-operation {
  display: flex;
  align-items: center;
  justify-content: center;
}
.tab-6-operation span {
  font-size: 1.7rem;
  padding: 0 10px;
  cursor: pointer;
  color: var(--primary-color);
}
.deleteAll {
  display: flex;
  align-items: center;
  background-color: var(--primary-color);
  padding: 5px 0;
  border-radius: 4px;
  margin-bottom: 10px;
}
.deleteAll-icon {
  font-size: 1.6rem;
  border: 1px solid var(--bs-white);
  color: var(--bs-white);
  margin: 0 20px;
  padding: 0 5px;
}
.deleteAll-description {
  padding-left: 10px;
  font-size: 1.6rem;
  color: var(--bs-white);
  cursor: pointer;
}

.menu_user {
  display: flex;
  align-items: center;
  gap: 10px;
}
.user_menu-icon {
  font-size: 1.6rem;
}

/* sec 5 */
#order_table-buy {
  /* border: 1px solid black; */
}

.order_tHead {
  font-size: 14px;
  font-weight: bold;
  border: 1px solid black;
  text-align: center;
}
.order_tBody-item {
  border: 1px solid black;
  text-align: center;
  font-size: 14px;
}
.header__hotline-number {
  display: flex;
}
.modal-label {
  display: flex;
}

/* responsive */
@media (min-width: 1200px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 576px) and (max-width: 767px) {
}
@media (max-width: 575px) {
}
